* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
}
nav {
  height: 90px;
  margin-top: 100px;

}
.container-flex{
  width: 100%;
  display:flex;
  justify-content:space-around;
}

.items-right li {
display: inline-block;
vertical-align: middle;
padding: 0 10px;
}

.items-left li {
display: inline-block;
vertical-align: middle;
padding: 0 10px;
}
.dropdown-menu>i{
  display:block;
}
/* questo mi festisce l evento in js che tolgo e metto quando clicco sui vari link  */
.display-none{
  display:none;
}
/* fine display rimosso e tolto */
/* bottoni */
.b-one{
  width: 50px;
  height: 40px;
  border-radius: 6px;
}
.b-two{
  width: 80px;
  height: 40px;
  border-radius: 6px;
  background-color: black;
}
.get-app{
 color:white;
}
/* fine  bottoni */

/* dropdown-menu in modo tale che sia a cascata   */
.dropdown-menu {
  position: absolute;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.link{
  position: relative;
  display: inline-block;
}
.dropdown-menu i{
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* fine  dropdown-menu  */
